ion-col {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  
  .badge-menu {
    position: absolute;
    margin-left: 7px;
  }
  ion-icon {
    font-size: 2.0em;
    color: var(--ion-color-primary-darken);//map-get($colors, primary-darken);
    flex-wrap: wrap;
  }
  span {
    font-size: 0.85em;
    flex-wrap: wrap;
  }
}

ion-footer .toolbar:last-child {
  height: calc(64px + constant(safe-area-inset-top)) !important;
  min-height: calc(64px + constant(safe-area-inset-top)) !important;
}
