<ion-app>
  <ion-split-pane contentId="main">
    <!--  our side menu  -->
    <ion-menu contentId="main" type="overlay">
      <ion-header>
        <ion-toolbar color="primary" class="logo">
          <img class="silico-logo" src="assets/SilicoBranco.png" alt="">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="showVersion()">
              <ion-icon slot="start" name="cloud-done"></ion-icon>
              <ion-label>
                Versão
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" (click)="logout()">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>

  </ion-split-pane>
</ion-app>