<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="customerForm">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Documento (CPF ou CNPJ)</ion-label>
                <ion-input type="tel" [mask]="'document'" (ionBlur)="saveOnBlur($event);validateDocument();"
                  formControlName="cpfCnpj"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.cpfCnpj.valid && (customerForm.controls.cpfCnpj.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Documento obrigatório
                </ion-label>
                <ion-label error *ngIf="!validDocument">
                  <ion-icon name="information-circle"></ion-icon>
                  Documento inválido
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Nome fantasia</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="fantasia" maxlength="50"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.fantasia.valid && (customerForm.controls.fantasia.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Nome fantasia é obrigatória
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Razão Social</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="razao" maxlength="50"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.razao.valid && (customerForm.controls.razao.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Razão Social é obrigatória
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Inscrição Estadual</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="insEstadual" maxlength="15"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.insEstadual.valid && (customerForm.controls.insEstadual.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Inscrição ou texto ISENTO é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Nome contato</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="contato1" maxlength="30"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.contato1.valid && (customerForm.controls.contato1.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Nome do contato é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>E-mail do cliente</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="emailCli" maxlength="150"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.emailCli.valid && (customerForm.controls.emailCli.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  E-Mail do cliente é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>E-mail financeiro</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="emailFin" maxlength="150"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.emailFin.valid && (customerForm.controls.emailFin.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  E-Mail financeiro é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>E-mail fiscal</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="emailFis" maxlength="150"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.emailFis.valid && (customerForm.controls.emailFis.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  E-Mail fiscal é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Celular/Telefone do contato</ion-label>
                <ion-input type="tel" [mask]="'telephone'" (ionBlur)="saveOnBlur($event)"
                  formControlName="foneContato1" maxlength="20"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.foneContato1.valid && (customerForm.controls.foneContato1.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Celular/Telefone do contato é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Telefone fixo da empresa</ion-label>
                <ion-input type="tel" [mask]="'telephone'" (ionBlur)="saveOnBlur($event)" formControlName="foneCli" maxlength="20"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.foneCli.valid && (customerForm.controls.foneCli.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Telefone fixo é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>CEP</ion-label>
                <ion-input type="tel" [mask]="'00000-000'" (ionBlur)="saveOnBlur($event)" formControlName="cep" maxlength="11"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.cep.valid && (customerForm.controls.cep.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  CEP é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>UF</ion-label>
                <ion-input [hidden]="true" formControlName="uf"></ion-input>
                <ion-input [ngModel]="stateName" [ngModelOptions]="{standalone:true}" type="text"
                  placeholder="Selecione um estado" readonly class="state" (click)="openStatePage()"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.uf.valid && (customerForm.controls.uf.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  UF é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Cidade</ion-label>
                <ion-input [hidden]="true" formControlName="cidade"></ion-input>
                <ion-input [ngModel]="cityName" [ngModelOptions]="{standalone:true}" type="text"
                  placeholder="Selecione uma cidade" readonly class="state" (click)="openCityPage()"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.cidade.valid && (customerForm.controls.cidade.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Cidade é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Logradouro</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="endereco" maxlength="80"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.endereco.valid && (customerForm.controls.endereco.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Logradouro é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Bairro</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="bairro" maxlength="50"></ion-input>
                <ion-label error
                  *ngIf="!customerForm.controls.bairro.valid && (customerForm.controls.bairro.dirty || submitAttempt)">
                  <ion-icon name="information-circle"></ion-icon>
                  Bairro é obrigatório
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Nome da rede</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="rede" maxlength="50"></ion-input>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <div class="item-inner">
              <div class="item-wrapper">
                <ion-label stacked>Observações</ion-label>
                <ion-input type="text" (ionBlur)="saveOnBlur($event)" formControlName="obs" maxlength="240"></ion-input>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button class="btn btn-border" (click)="validate()">VALIDAR</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="btn btn-block" (click)="save()">ENVIAR</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>