<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Política de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h6><b>SEÇÃO 1 - O QUE FAZEMOS COM AS SUAS INFORMAÇÕES?</b></h6>
  <p>
    Quando você utiliza nosso app, como parte do processo de venda, coletamos as informações pessoais que você
    nos
    fornece, tais como seu nome, endereço, localização e e-mail.<br>
    Quando você opera a app, recebemos também automaticamente o protocolo de internet do seu dispositivo
    (endereço de
    IP) a fim de obter informações que nos ajudam a saber mais sobre seu aparelho e sistema operacional.<br>
    Marketing por e-mail (quando aplicável): Com sua permissão, podemos lhe enviar e-mails sobre nosso app,
    novos
    produtos e outras atualizações.<br>
  </p>

  <h6><b>SEÇÃO 2 - CONSENTIMENTO</b></h6>
  <p>
    Como vocês obtêm meu consentimento?<br>
    Quando você nos fornece as suas informações pessoais para completar uma transação ou fazer um pedido, você
    está
    concordando com a nossa coleta e uso de informações pessoais apenas para esses fins específicos.<br>
    Se pedirmos suas informações pessoais por uma razão secundária, como marketing, vamos pedir seu
    consentimento, ou te
    dar a oportunidade de dizer não.<br>
  </p>
  <p>
    Como posso retirar o meu consentimento?<br>
    Caso depois de fornecer seus dados você mude de ideia, você pode retirar o seu consentimento quando quiser e
    assim
    evitar que entremos em contato para obter ou divulgar informações.
    Para isto, basta entrar em contato conosco através do emesilver@yahoo.com ou por correio: Sílico Tecnologia
    LTDA Av.
    Maria Ranieri, 6-40, Parque Sabias, Bauru, SP, 17055175, Brazil.<br>
  </p>

  <h6><b>SEÇÃO 3 - DIVULGAÇÃO</b></h6>
  Podemos divulgar suas informações pessoais se formos obrigados por lei a fazê-lo ou se você violar nossos
  Termos de
  serviço.

  <h6><b>SEÇÃO 4 - SERVIÇOS DE TERCEIROS</b></h6>
  <p>
    No geral, nossos fornecedores terceirizados irão coletar, usar e divulgar suas informações apenas na medida
    do
    necessário para permitir que eles realizem os serviços que eles nos fornecem.<br>
    Entretanto, certos prestadores de serviços terceirizados e outros processadores de transações, têm suas
    próprias
    políticas de privacidade em relação à informação que somos obrigados a fornecer para eles sobre
    transações.<br>
    Especificamente, lembre-se que certos fornecedores podem estar localizados ou possuir instalações que ficam
    em
    jurisdições diferentes da sua ou da nossa. Por isso, se você quiser continuar com uma transação que envolva
    um
    prestador de serviços terceirizado, suas informações podem ficar sujeitas à legislação da(s) jurisdição(ões)
    onde o
    prestador de serviços ou suas instalações estiverem localizados.<br>
    Por exemplo, se você está no Brasil e sua transação é processada por um gateway de pagamento nos Estados
    Unidos,
    suas informações pessoais usadas para completar a transação podem estar sujeitas a divulgação sob a
    legislação dos
    Estados Unidos, incluindo a Lei Patriótica.<br>
  </p>

  <h6><b>SEÇÃO 5 - SEGURANÇA</b></h6>
  <p>
    Para proteger suas informações pessoais, tomamos precauções e seguimos as melhores práticas da indústria
    para nos
    certificar que elas não sejam perdidas, usurpadas, acessadas, divulgadas, alteradas ou destruídas.
  </p>

  <h6><b>SEÇÃO 6 - IDADE DE CONSENTIMENTO</b></h6>
  <p>
    Ao usar essa app, você confirma que você é maior de idade em seu estado ou província de residência e que
    você nos deu
    seu consentimento para permitir que qualquer um dos seus dependentes menores de idade possam usar.
  </p>

  <h6><b>SEÇÃO 7 - ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE</b></h6>
  <p>
    Reservamos o direito de modificar essa política de privacidade a qualquer momento. Portanto, por favor,
    leia-a com
    frequência. As alterações e esclarecimentos surtem efeito imediatamente após serem publicadas no site. Caso
    façamos
    alterações na política de privacidade, iremos notificá-lo sobre a atualização. Assim, você saberá quais
    informações
    coletamos, como as usamos, e sob que circunstâncias, caso aplicável, as utilizaremos e/ou divulgaremos.<br>
    Caso ocorra a fusão da nossa loja com outra empresa, suas informações podem ser transferidas para os novos
    proprietários para que possamos continuar vendendo produtos para você.
  </p>

  <h6><b>PERGUNTAS E INFORMAÇÕES DE CONTATO</b></h6>
  <p>
    Se você gostaria de acessar, corrigir, alterar ou excluir quaisquer informações pessoais que temos sobre
    você,
    registre uma queixa, ou simplesmente peça mais informações de contato a(o) nosso(a) Diretor(a) de
    privacidade através
    do emesilver@yahoo.com ou pelo correio:<br>
    Sílico Tecnologia LTDA<br>
    Av. Maria Ranieri, 6-40<br>
    Parque Sabiás<br>
    CEP: 17055-175<br>
    Bauru, SP, Brazil<br>
  </p>

</ion-content>